1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [3]:
test1 = 'This is a test of the emergency text system.'
len(test1)

44

In [4]:
with open('test.txt', 'w') as file:
    file.write(test1)

print("String saved to test.txt")

String saved to test.txt

In [6]:
file.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [7]:
with open('test.txt', 'rt') as infile:
    test2 = infile.read()
len(test2)

44

In [8]:
 test1 == test2

True

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [9]:
text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''
with open('books.csv', 'wt') as outfile:
    outfile.write(text)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [12]:
import sqlite3
connection = sqlite3.connect("books.db")
cursor = connection.cursor()
create_table_query = """
create table if not exists books (
    id int,
    title text,
    author text,
    year int
)
"""

cursor.execute(create_table_query)

connection.commit()
connection.close()

print("Database 'books.db' created successfully with the 'books' table.")

Database 'books.db' created successfully with the 'books' table.

5. Read books.csv and insert its data into the book table.

In [13]:
import sqlite3
import csv
connection = sqlite3.connect("books.db")
cursor = connection.cursor()

with open("books.csv", "r") as csvfile:
    csvreader = csv.reader(csvfile)
    next(csvreader)  
    for row in csvreader:
        title, author, year = row
        cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)",
                       (title, author, int(year)))

connection.commit()
connection.close()

print("Data from books.csv inserted into the 'books' table successfully.")

Data from books.csv inserted into the 'books' table successfully.

6. Select and print the title column from the book table in alphabetical order.

In [23]:

connection = sqlite3.connect("books.db")
cursor = connection.cursor()

select_query = "SELECT title FROM books ORDER BY title"
cursor.execute(select_query)
titles = cursor.fetchall()

print("Titles in alphabetical order:")
for title in titles:
    print(title[0])

Titles in alphabetical order:
Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication.

In [25]:

select_query = "SELECT * FROM books ORDER BY year"
cursor.execute(select_query)
books_data = cursor.fetchall()

print("Books in order of publication:")
for book in books_data:
    print("Title:", book[1])
    print("Author:", book[2])
    print("Year:", book[3])
    print("-" * 20)

Books in order of publication:
Title: The Weirdstone of Brisingamen
Author: Alan Garner
Year: 1960
--------------------
Title: Small Gods
Author: Terry Pratchett
Year: 1992
--------------------
Title: Perdido Street Station
Author: China Miéville
Year: 2000
--------------------
Title: Thud!
Author: Terry Pratchett
Year: 2005
--------------------
Title: The Spellman Files
Author: Lisa Lutz
Year: 2007
--------------------

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [32]:
from sqlalchemy import create_engine

db_engine = create_engine("sqlite:///books.db")


connection = db_engine.connect()

print("Connected to the 'books.db' database.")

Connected to the 'books.db' database.

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [33]:
import redis
conn = redis.Redis()
conn.delete('test')

Requirement already satisfied: redis in c:\users\omkar\anaconda3\lib\site-packages (5.0.0)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\omkar\anaconda3\lib\site-packages (from redis) (4.0.3)

In [ ]:
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

In [ ]:
conn.hgetall('test')

10. Increment the count field of test and print it.

In [ ]:

conn.hincrby('test', 'count', 3)

In [ ]:
conn.hget('test', 'count')